@import url('https://fonts.googleapis.com/css?family=Kumar+One|Open+Sans:400,600');

body {
  padding:0 0 40px 0;
  margin:0;
  font-family: "Open Sans", san-serif;
  background-color: rgb(70,70,100);
  color:#fff;
}
p {
  margin:0;
  padding:0;
}
header {
  text-align:center;
  padding:0;
}
h1 {
  font-size: 50px;
  line-height: 80px;
  padding:0;
  margin:0;
}

section.machine {
  background-color: rgb(75,75,75);
  margin: 0 auto;
}
.quote-container {
  margin: 0 auto;
  max-width: 750px;
  text-align:center;
  padding: 75px 20px;
  margin-top: 100px;
  background-color: rgb(90,90,125);
  border-radius: 5px;
  color: #fff;
  margin-bottom: 40px;
}
#quotee:before {
  content: ' - ';
}
#quotee {
  font-size: 25px;
  font-weight: 600;
  position: relative;
  left: 200px;
}

#quote-content {
 font-size: 20px;
 display:inline-block;
  margin-bottom: 20px;
}
#quote-content:before, #quote-content:after {
  content: ' " ';
}

footer p.author {
  text-align:center;
}

.quote-button {
  width: 150px;
  height: 65px;
  margin-top: 30px;
  border:none;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  background-color: rgb(60,60,150);
  color:#fff;
}
.quote-button:hover {
  background-color: rgb(0,25,100);
}
.quote-button:active {
  background-color: rgb(0,10,85);
}
.quote-button:focus {
  outline: none;
}
.social {
  margin-top: 50px;
}
.social a {
  display:inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 2px;
  color:#fff;
}
a#twitter-share-button {
  background-color: #1da1f2;
}
a#twitter-share-button:hover {
  background-color:#1b8ace;
}
a#twitter-share-button:active {
  background-color:#184a69;
}

.social a:hover {
  color:#eee;
}

.social a:active {
  color:#ccc;
}

.social a:visited {
  
}

@media only screen and (max-width: 480px) {
  header {
    padding: 10px 0;
  }
  h1 {
    font-size: 26px;
    line-height: 26px;
    padding:0;
    margin:0;
  }
  .quote-container {
    width: 100%;
    padding:20px 0;
    margin:0;
  }
  #quotee {
    font-size: 20px;
    left:0;
  }
  .quote-button {
    width: 100px;
    height: 50px;
    font-size: 16px;
  }
  
}